In [1]:
import pandas as pd   
import numpy as np

In [3]:
pay = pd.read_csv(r'/workspaces/PYTHON_ML/EDA/datasets/chicago_payroll.csv')
pay.head(4)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN

In [4]:
pay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32658 entries, 0 to 32657
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               32658 non-null  object
 1   Job Titles         32658 non-null  object
 2   Department         32658 non-null  object
 3   Full or Part-Time  32658 non-null  object
 4   Salary or Hourly   32658 non-null  object
 5   Typical Hours      7883 non-null   float64
 6   Annual Salary      24775 non-null  object
 7   Hourly Rate        7883 non-null   object
dtypes: float64(1), object(7)
memory usage: 2.0+ MB

In [7]:
print("Max Typical Hours are :",pay['Typical Hours'].max())
print("MIn Typical Hours are :",pay['Typical Hours'].min())
print("Average Typical Hours are :",pay['Typical Hours'].mean())

Max Typical Hours are : 40.0
MIn Typical Hours are : 10.0
Average Typical Hours are : 34.69871876189268

In [ ]:
S_H = pay.groupby('Salary or Hourly')[['Name']].count()
S_H

                   Name
Salary or Hourly
Hourly             7883
Salary            24775

In [14]:
s_h = pay['Salary or Hourly'].value_counts()
s_h

Salary or Hourly
Salary    24775
Hourly     7883
Name: count, dtype: int64

In [20]:
dept =pay.groupby('Department')[['Name']].count()

dept

                        Name
Department
ADMIN HEARNG              38
ANIMAL CONTRL             73
AVIATION                1612
BOARD OF ELECTION        112
BOARD OF ETHICS            8
BUDGET & MGMT             44
BUILDINGS                266
BUSINESS AFFAIRS         168
CITY CLERK                85
CITY COUNCIL             400
COMMUNITY DEVELOPMENT    214
COPA                      17
CULTURAL AFFAIRS          76
DISABILITIES              29
DoIT                     101
FAMILY & SUPPORT         621
FINANCE                  575
FIRE                    4800
GENERAL SERVICES         972
HEALTH                   516
HUMAN RELATIONS           17
HUMAN RESOURCES           68
INSPECTOR GEN             63
IPRA                      56
LAW                      405
LICENSE APPL COMM          1
MAYOR'S OFFICE            85
OEMC                    2044
POLICE                 12973
POLICE BOARD               2
PROCUREMENT               86
PUBLIC LIBRARY           932
STREETS & SAN           2194
TRANSPORTN              1103
TREASURER                 24
WATER MGMNT             1878

In [22]:
Dept=pay['Department'].value_counts()
Dept

Department
POLICE                   12973
FIRE                      4800
STREETS & SAN             2194
OEMC                      2044
WATER MGMNT               1878
AVIATION                  1612
TRANSPORTN                1103
GENERAL SERVICES           972
PUBLIC LIBRARY             932
FAMILY & SUPPORT           621
FINANCE                    575
HEALTH                     516
LAW                        405
CITY COUNCIL               400
BUILDINGS                  266
COMMUNITY DEVELOPMENT      214
BUSINESS AFFAIRS           168
BOARD OF ELECTION          112
DoIT                       101
PROCUREMENT                 86
MAYOR'S OFFICE              85
CITY CLERK                  85
CULTURAL AFFAIRS            76
ANIMAL CONTRL               73
HUMAN RESOURCES             68
INSPECTOR GEN               63
IPRA                        56
BUDGET & MGMT               44
ADMIN HEARNG                38
DISABILITIES                29
TREASURER                   24
HUMAN RELATIONS             17
COPA                        17
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: count, dtype: int64

In [24]:
dept =pay.groupby('Department')[['Name']].count().idxmax()
dept

Name    POLICE
dtype: object

In [29]:
dept=pay['Salary or Hourly'].value_counts().idxmax()
dept

'Salary'

In [32]:
dept=pay['Department'].value_counts().idxmax()
dept

'POLICE'

In [33]:
pay.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN
5,"DUBERT, TOMASZ",PARAMEDIC I/C,FIRE,F,Salary,NaN,$91080.00,NaN
6,"EDWARDS, TIM P",LIEUTENANT,FIRE,F,Salary,NaN,$114846.00,NaN
7,"ELKINS, ERIC J",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
8,"ESTRADA, LUIS F",POLICE OFFICER,POLICE,F,Salary,NaN,$96060.00,NaN
9,"EWING, MARIE A",CLERK III,POLICE,F,Salary,NaN,$53076.00,NaN

In [41]:
police = pay[pay['Department']=='POLICE']
police['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    12941
Hourly       32
Name: count, dtype: int64