In [1]:
import pandas as pd   
import numpy as np

In [2]:
pay = pd.read_csv(r'/workspaces/PYTHON_ML/EDA/datasets/chicago_payroll.csv')
pay.head(4)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN

In [3]:
pay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32658 entries, 0 to 32657
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               32658 non-null  object
 1   Job Titles         32658 non-null  object
 2   Department         32658 non-null  object
 3   Full or Part-Time  32658 non-null  object
 4   Salary or Hourly   32658 non-null  object
 5   Typical Hours      7883 non-null   float64
 6   Annual Salary      24775 non-null  object
 7   Hourly Rate        7883 non-null   object
dtypes: float64(1), object(7)
memory usage: 2.0+ MB

In [4]:
print("Max Typical Hours are :",pay['Typical Hours'].max())
print("MIn Typical Hours are :",pay['Typical Hours'].min())
print("Average Typical Hours are :",pay['Typical Hours'].mean())

Max Typical Hours are : 40.0
MIn Typical Hours are : 10.0
Average Typical Hours are : 34.69871876189268

In [5]:
S_H = pay.groupby('Salary or Hourly')[['Name']].count()
S_H

                   Name
Salary or Hourly
Hourly             7883
Salary            24775

In [6]:
s_h = pay['Salary or Hourly'].value_counts()
s_h

Salary or Hourly
Salary    24775
Hourly     7883
Name: count, dtype: int64

In [7]:
dept =pay.groupby('Department')[['Name']].count()

dept

                        Name
Department
ADMIN HEARNG              38
ANIMAL CONTRL             73
AVIATION                1612
BOARD OF ELECTION        112
BOARD OF ETHICS            8
BUDGET & MGMT             44
BUILDINGS                266
BUSINESS AFFAIRS         168
CITY CLERK                85
CITY COUNCIL             400
COMMUNITY DEVELOPMENT    214
COPA                      17
CULTURAL AFFAIRS          76
DISABILITIES              29
DoIT                     101
FAMILY & SUPPORT         621
FINANCE                  575
FIRE                    4800
GENERAL SERVICES         972
HEALTH                   516
HUMAN RELATIONS           17
HUMAN RESOURCES           68
INSPECTOR GEN             63
IPRA                      56
LAW                      405
LICENSE APPL COMM          1
MAYOR'S OFFICE            85
OEMC                    2044
POLICE                 12973
POLICE BOARD               2
PROCUREMENT               86
PUBLIC LIBRARY           932
STREETS & SAN           2194
TRANSPORTN              1103
TREASURER                 24
WATER MGMNT             1878

In [8]:
Dept=pay['Department'].value_counts()
Dept

Department
POLICE                   12973
FIRE                      4800
STREETS & SAN             2194
OEMC                      2044
WATER MGMNT               1878
AVIATION                  1612
TRANSPORTN                1103
GENERAL SERVICES           972
PUBLIC LIBRARY             932
FAMILY & SUPPORT           621
FINANCE                    575
HEALTH                     516
LAW                        405
CITY COUNCIL               400
BUILDINGS                  266
COMMUNITY DEVELOPMENT      214
BUSINESS AFFAIRS           168
BOARD OF ELECTION          112
DoIT                       101
PROCUREMENT                 86
MAYOR'S OFFICE              85
CITY CLERK                  85
CULTURAL AFFAIRS            76
ANIMAL CONTRL               73
HUMAN RESOURCES             68
INSPECTOR GEN               63
IPRA                        56
BUDGET & MGMT               44
ADMIN HEARNG                38
DISABILITIES                29
TREASURER                   24
HUMAN RELATIONS             17
COPA                        17
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: count, dtype: int64

In [9]:
dept =pay.groupby('Department')[['Name']].count().idxmax()
dept

Name    POLICE
dtype: object

In [10]:
dept=pay['Salary or Hourly'].value_counts().idxmax()
dept

'Salary'

In [11]:
dept=pay['Department'].value_counts().idxmax()
dept

'POLICE'

In [12]:
pay.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN
5,"DUBERT, TOMASZ",PARAMEDIC I/C,FIRE,F,Salary,NaN,$91080.00,NaN
6,"EDWARDS, TIM P",LIEUTENANT,FIRE,F,Salary,NaN,$114846.00,NaN
7,"ELKINS, ERIC J",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
8,"ESTRADA, LUIS F",POLICE OFFICER,POLICE,F,Salary,NaN,$96060.00,NaN
9,"EWING, MARIE A",CLERK III,POLICE,F,Salary,NaN,$53076.00,NaN

In [13]:
police = pay[pay['Department']=='POLICE']
police['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    12941
Hourly       32
Name: count, dtype: int64

In [14]:
pay['Salary']=pay['Annual Salary'].str.replace('$','').astype(float)

In [15]:
pay[pay['Salary']==pay['Salary'].max()][['Name','Department','Full or Part-Time']]

                  Name Department Full or Part-Time
8310  EVANS,  GINGER S   AVIATION                 F

In [ ]:
pay[(pay['Salary or Hourly']=='Hourly')&(pay['Full or Part-Time']=='F')][['Name','Department']]

                        Name        Department
11          FITCH,  JORDAN M               LAW
56     ABBATACOLA,  ROBERT J          AVIATION
57        ABBATE,  JOSEPH L      STREETS & SAN
71        ABDULLAH,  RASHAD   GENERAL SERVICES
73     ABDUL-SHAKUR,  TAHIR      STREETS & SAN
...                      ...               ...
32637      ZURAWSKI,  MAC Z      STREETS & SAN
32639       ZUREK,  FRANCIS               OEMC
32644     ZWARYCZ,  THOMAS J       WATER MGMNT
32650       ZYGADLO,  JOHN P  GENERAL SERVICES
32651    ZYGADLO,  MICHAEL J  GENERAL SERVICES

[5906 rows x 2 columns]

In [18]:
pay['H_rate']=pay['Hourly Rate'].str.replace('$','').astype(float)
pay['H_rate'].head(10)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
Name: H_rate, dtype: float64

In [20]:
pay[(pay['Full or Part-Time']=='F')&(pay['H_rate']==10)]

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary,H_rate
1232,"AYALA JR, JESUS",STUDENT INTERN,HUMAN RESOURCES,F,Hourly,35.0,NaN,$10.00,NaN,10.0
4522,"CERVANTES, BIANCA A",STUDENT INTERN,BUDGET & MGMT,F,Hourly,35.0,NaN,$10.00,NaN,10.0
6476,"DAVILA, ROBERTO A",ALDERMANIC AIDE,CITY COUNCIL,F,Hourly,35.0,NaN,$10.00,NaN,10.0
16474,"LEVY, ETHAN",CLERK CITY COUNCIL,CITY COUNCIL,F,Hourly,35.0,NaN,$10.00,NaN,10.0

In [21]:
pay['Job Titles'].nunique()

1095

In [29]:
pay[pay['Salary']==pay['Salary'].max()]

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary,H_rate
8310,"EVANS, GINGER S",COMMISSIONER OF AVIATION,AVIATION,F,Salary,NaN,$300000.00,NaN,300000.0,NaN

In [32]:
pay.groupby('Department')['Salary'].mean()

Department
ADMIN HEARNG             78912.947368
ANIMAL CONTRL            66089.684211
AVIATION                 76140.018777
BOARD OF ELECTION        56051.142857
BOARD OF ETHICS          94552.500000
BUDGET & MGMT            93925.395349
BUILDINGS                98864.833534
BUSINESS AFFAIRS         80446.425000
CITY CLERK               69762.439024
CITY COUNCIL             63577.172069
COMMUNITY DEVELOPMENT    88363.257143
COPA                     98784.705882
CULTURAL AFFAIRS         87048.909091
DISABILITIES             82431.724138
DoIT                     99681.029703
FAMILY & SUPPORT         79013.588785
FINANCE                  73276.364662
FIRE                     97762.348662
GENERAL SERVICES         83095.528390
HEALTH                   85488.210938
HUMAN RELATIONS          93778.588235
HUMAN RESOURCES          79851.761194
INSPECTOR GEN            84030.666667
IPRA                     94429.285714
LAW                      84582.814404
LICENSE APPL COMM        80568.000000
MAYOR'S OFFICE           96165.512308
OEMC                     73153.778221
POLICE                   87836.025349
POLICE BOARD             86136.000000
PROCUREMENT              83278.243902
PUBLIC LIBRARY           71273.288136
STREETS & SAN            84347.775701
TRANSPORTN               89976.896061
TREASURER                88062.652174
WATER MGMNT              89894.111803
Name: Salary, dtype: float64

In [34]:
# Step 1: Sort the DataFrame by Department and Salary (highest first)
pay_sorted = pay.sort_values(['Department', 'Annual Salary'], ascending=[True, False])

# Step 2: Drop duplicates keeping only the first (which is the highest paid per dept)
top_earners = pay_sorted.drop_duplicates(subset='Department', keep='first')

# Step 3: Select just the useful columns to display
result = top_earners[['Department', 'Name', 'Annual Salary']]
result

                  Department                       Name Annual Salary
12098           ADMIN HEARNG           HEIDT,  SANDRA E     $98160.00
3978           ANIMAL CONTRL          CAPIFALI,  IVAN J     $99648.00
5762                AVIATION      COSENTINO,  MICHAEL J     $99648.00
8494       BOARD OF ELECTION           FEDDERKE,  JEFF      $99816.00
4336         BOARD OF ETHICS         CASILLAS,  PAULLY      $92592.00
7109           BUDGET & MGMT      DICKINSON,  JENNIFER      $98688.00
2060               BUILDINGS        BERNACKI,  ROBERT J     $97551.96
10482       BUSINESS AFFAIRS          GONZALEZ,  BETSY      $97740.00
29432             CITY CLERK         TOWNSEND,  MARIA A     $93300.00
29840           CITY COUNCIL        VALADEZ,  RAYMOND R     $99744.00
26490  COMMUNITY DEVELOPMENT             SEGAL,  ROMAN      $99768.00
19201                   COPA          MERRITT,  LARRY L     $86460.00
12462       CULTURAL AFFAIRS             HICKEY,  ANN E     $99648.00
20978           DISABILITIES           NOBRIGA,  MARK D     $93300.00
17135                   DoIT        LUCIUS,  NICHOLAS J     $99672.00
21186       FAMILY & SUPPORT       OBIALOR,  BERTRAND C     $99672.00
30245                FINANCE       VERZONI,  PATRICIA R     $99780.00
1852                    FIRE         BECKER,  MICHAEL J     $99846.00
27403       GENERAL SERVICES          SMITH,  RICHARD A     $98664.00
13041                 HEALTH        HUBBARD,  VALERIA R     $98196.00
20845        HUMAN RELATIONS         NEWSOME,  JO ANN N     $99672.00
7867         HUMAN RESOURCES       EASTER,  PHYLLINIS M     $99768.00
967            INSPECTOR GEN        ARELLANO,  HECTOR A     $92088.00
6435                    IPRA            DAUN,  SHERRY J     $97740.00
15591                    LAW            KRAFT,  VICKI M     $99864.00
11310      LICENSE APPL COMM  GUZMAN FLORES,  MICHELLE      $80568.00
7126          MAYOR'S OFFICE          DIETTE,  THOMAS C     $99996.00
4704                    OEMC               CHEN,  DIBO      $99768.00
25649                 POLICE            SACHS,  LARRY E     $99816.00
2400            POLICE BOARD         BOATMAN,  CARISA A     $66480.00
14914            PROCUREMENT           KELLY,  ROBERT J     $97740.00
7611          PUBLIC LIBRARY       DUARTE,  GUILLERMIN      $95580.00
1095           STREETS & SAN         ARZUAGA,  MIGUEL A     $97740.00
711               TRANSPORTN          AMSDEN,  MICHAEL      $99036.00
27013              TREASURER         SIMS,  ALEXANDRA P     $94560.00
25721            WATER MGMNT         SALDANA,  THOMAS R     $99768.00

In [49]:
# Step 1: Find index of max salary in each department
idx = pay.groupby('Department')['Salary'].idxmax()

max_salaries = pay.loc[idx,['Department','Name','Salary']]
max_salaries

                  Department                       Name    Salary
13449           ADMIN HEARNG      JACKOWIAK,  PATRICIA   156420.0
25535          ANIMAL CONTRL          RUSSELL,  SUSAN J  130008.0
8310                AVIATION           EVANS,  GINGER S  300000.0
1714       BOARD OF ELECTION      BATEMAN,  KELLY ANNE   133740.0
2051         BOARD OF ETHICS           BERLIN,  STEVEN   135672.0
12793          BUDGET & MGMT         HOLT,  ALEXANDRA D  169992.0
9338               BUILDINGS         FRYDLAND,  JUDITH   157092.0
11143       BUSINESS AFFAIRS            GUERRA,  MARIA   157092.0
25841             CITY CLERK         SANCHEZ,  CARINA E  125292.0
14588           CITY COUNCIL           KAIDEN,  MARLA M  160248.0
24085  COMMUNITY DEVELOPMENT           REIFMAN,  DAVID   175020.0
8405                    COPA         FAIRLEY,  SHARON R  161856.0
14895       CULTURAL AFFAIRS             KELLY,  MARK E  155040.0
28638           DISABILITIES           TAMLEY,  KAREN M  138420.0
2052                    DoIT          BERMAN,  BRENNA M  154992.0
20095       FAMILY & SUPPORT   MORRISON BUTLER,  LISA V  175002.0
14779                FINANCE             KEANE,  ERIN S  165000.0
26028                   FIRE          SANTIAGO,  JOSE A  202728.0
24251       GENERAL SERVICES         REYNOLDS,  DAVID J  157092.0
20048                 HEALTH           MORITA,  JULIA Y  177000.0
21027        HUMAN RELATIONS            NORIEGA,  MONA   125004.0
4809         HUMAN RESOURCES                CHOI,  SOO   151572.0
8569           INSPECTOR GEN        FERGUSON,  JOSEPH M  161856.0
713                     IPRA        ANAELE,  BENEDICT E  122316.0
22353                    LAW         PATTON,  STEPHEN R  173664.0
11310      LICENSE APPL COMM  GUZMAN FLORES,  MICHELLE    80568.0
8079          MAYOR'S OFFICE            EMANUEL,  RAHM   216210.0
28708                   OEMC     TATE-NADEAU,  ALICIA A  167796.0
13999                 POLICE          JOHNSON,  EDDIE T  260004.0
4001            POLICE BOARD            CAPRONI,  MAX A  105792.0
24279            PROCUREMENT             RHEE,  JAMIE L  167220.0
1497          PUBLIC LIBRARY           BANNON,  BRIAN A  167004.0
31404          STREETS & SAN       WILLIAMS,  CHARLES L  157092.0
26217             TRANSPORTN     SCHEINFELD,  REBEKAH C  169500.0
17947              TREASURER         MARTINEZ,  MIRIAM   137700.0
20411            WATER MGMNT         MURPHY,  BARRETT B  169512.0