In [1]:
import pandas as pd 
import numpy as np

In [2]:
climate_data = {
    'Day':['1/1/2023 14:00:00', '1/2/2023 17:15:00', '1/3/2023 03:00:00'],
    'Temperature':[27,31,34],
    'Windspeed':[3,6,9],
    'Event':['Cloudy','Rainy','Sunny']
}

df =pd.DataFrame(climate_data)
df

                 Day  Temperature  Windspeed   Event
0  1/1/2023 14:00:00           27          3  Cloudy
1  1/2/2023 17:15:00           31          6   Rainy
2  1/3/2023 03:00:00           34          9   Sunny

In [3]:
df.dtypes

Day            object
Temperature     int64
Windspeed       int64
Event          object
dtype: object

In [7]:
df['Day']=pd.to_datetime(df['Day'])
df.dtypes

Day            datetime64[ns]
Temperature             int64
Windspeed               int64
Event                  object
dtype: object

In [10]:
df.Day.dt.day_name()

0     Sunday
1     Monday
2    Tuesday
Name: Day, dtype: object

In [15]:
#testing Data
df=pd.util.testing.makeMissingDataFrame()

df.head()

AttributeError: module 'pandas.util' has no attribute 'testing'