In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import seaborn as sns

import os
import warnings
warnings.filterwarnings("ignore")

In [19]:
data = pd.read_csv(r'/workspaces/PYTHON_ML/EDA/datasets/QS World University Rankings 2025 (Top global universities).csv',encoding='latin1')
data.head(20)

,RANK_2025,RANK_2024,Institution_Name,Location,Region,SIZE,FOCUS,RES.,STATUS,Academic_Reputation_Score,...,International_Faculty_Rank,International_Students_Score,International_Students_Rank,International_Research_Network_Score,International_Research_Network_Rank,Employment_Outcomes_Score,Employment_Outcomes_Rank,Sustainability_Score,Sustainability_Rank,Overall_Score
0,1,1,Massachusetts Institute of Technology (MIT),United States,Americas,M,CO,VH,B,100.0,...,100,86.8,143,96.0,58,100.0,8,99.0,15=,100
1,2,6,Imperial College London,United Kingdom,Europe,L,FC,VH,A,98.5,...,66,99.6,44,97.4,34,93.4,61,99.7,6,98.5
2,3,3,University of Oxford,United Kingdom,Europe,L,FC,VH,A,100.0,...,120,97.7,73,100.0,1,100.0,3,85.0,126,96.9
3,4,4,Harvard University,United States,Americas,L,FC,VH,B,100.0,...,269,69.0,215,99.6,5,100.0,1,84.4,130,96.8
4,5,2,University of Cambridge,United Kingdom,Europe,L,FC,VH,A,100.0,...,73,94.8,98,99.3,10,100.0,5,84.8,127=,96.7
5,6,5,Stanford University,United States,Americas,L,FC,VH,B,100.0,...,284,60.8,244,96.8,45,100.0,2,81.2,148=,96.1
6,7,7,ETH Zurich - Swiss Federal Institute of Techno...,Switzerland,Europe,L,FO,VH,A,98.8,...,25,98.6,63,95.7,64,90.5,73,98.8,18,93.9
7,8,8,National University of Singapore (NUS),Singapore,Asia,XL,FC,VH,A,99.5,...,41,88.9,129,91.6,146,100.0,6,97.7,26=,93.7
8,9,9,UCL,United Kingdom,Europe,XL,FC,VH,A,99.5,...,106,100.0,21,99.9,2,70.3,157,74.8,190=,91.6
9,10,15,California Institute of Technology (Caltech),United States,Americas,S,CO,VH,B,96.5,...,65,79.8,172,65.5,549,31.0,407,62.5,253,90.9
10,11,12,University of Pennsylvania,United States,Americas,L,FC,VH,B,96.3,...,188,66.2,226,91.9,137,100.0,7,93.0,71,90.3
11,12,10,"University of California, Berkeley (UCB)",United States,Americas,XL,FC,VH,A,100.0,...,182,61.0,242,97.2,39,98.4,23,100.0,2,90.1
12,13,14,The University of Melbourne,Australia,Oceania,XL,FC,VH,A,98.5,...,148,99.8,39,97.4,33,96.5,39,99.6,9,88.9
13,14,17,Peking University,China (Mainland),Asia,XL,FC,VH,A,99.5,...,365,23.6,497,79.8,329,94.2,56,46.9,330=,88.5
14,15,26,"Nanyang Technological University, Singapore (NTU)",Singapore,Asia,L,FC,VH,A,91.9,...,42,83.5,160,89.4,178,83.9,104,95.6,50=,88.4
15,16,13,Cornell University,United States,Americas,L,FC,VH,B,98.3,...,347,63.4,237,94.0,99,97.1,34,72.1,208=,87.9
16,17,26,The University of Hong Kong,Hong Kong SAR,Asia,L,FC,VH,A,97.4,...,33,99.3,52,81.4,300,99.7,14,89.2,101=,87.6
17,18,19,The University of Sydney,Australia,Oceania,XL,FC,VH,A,96.4,...,87,100.0,17,95.8,61,93.1,63,99.6,7,87.3
18,19,19,The University of New South Wales (UNSW Sydney),Australia,Oceania,XL,FC,VH,A,90.5,...,57,99.4,48,98.3,20,97.7,29,99.2,11=,87.1
19,20,25,Tsinghua University,China (Mainland),Asia,XL,FC,VH,A,99.2,...,623,13.4,654,79.2,337,92.3,68,40.4,363=,86.5

In [8]:
data.shape

(1503, 28)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1503 entries, 0 to 1502
Data columns (total 28 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   RANK_2025                             1503 non-null   object
 1   RANK_2024                             1482 non-null   object
 2   Institution_Name                      1503 non-null   object
 3   Location                              1503 non-null   object
 4   Region                                1503 non-null   object
 5   SIZE                                  1503 non-null   object
 6   FOCUS                                 1503 non-null   object
 7   RES.                                  1503 non-null   object
 8   STATUS                                1466 non-null   object
 9   Academic_Reputation_Score             1503 non-null   float64
 10  Academic_Reputation_Rank              1503 non-null   object
 11  Employer_Reputation_Score             1503 non-null   float64
 12  Employer_Reputation_Rank              1503 non-null   object
 13  Faculty_Student_Score                 1503 non-null   float64
 14  Faculty_Student_Rank                  1503 non-null   object
 15  Citations_per_Faculty_Score           1503 non-null   float64
 16  Citations_per_Faculty_Rank            1503 non-null   object
 17  International_Faculty_Score           1403 non-null   float64
 18  International_Faculty_Rank            1403 non-null   object
 19  International_Students_Score          1445 non-null   float64
 20  International_Students_Rank           1445 non-null   object
 21  International_Research_Network_Score  1502 non-null   float64
 22  International_Research_Network_Rank   1502 non-null   object
 23  Employment_Outcomes_Score             1503 non-null   float64
 24  Employment_Outcomes_Rank              1503 non-null   object
 25  Sustainability_Score                  1484 non-null   float64
 26  Sustainability_Rank                   1484 non-null   object
 27  Overall_Score                         601 non-null    object
dtypes: float64(9), object(19)
memory usage: 328.9+ KB

In [17]:
data.describe()

,Academic_Reputation_Score,Employer_Reputation_Score,Faculty_Student_Score,Citations_per_Faculty_Score,International_Faculty_Score,International_Students_Score,International_Research_Network_Score,Employment_Outcomes_Score,Sustainability_Score
count,1503.000000,1503.000000,1503.000000,1503.000000,1403.000000,1445.000000,1502.000000,1503.000000,1484.000000
mean,20.286693,19.787292,28.128676,23.503460,30.736707,25.580346,50.129095,23.825083,24.309299
std,22.326168,23.784738,27.613017,27.870692,34.344365,31.098689,29.866588,27.351315,31.074718
min,1.300000,1.100000,1.000000,1.000000,1.000000,1.000000,1.000000,1.200000,1.000000
25%,6.300000,4.300000,7.300000,2.800000,4.200000,2.900000,22.725000,4.000000,1.300000
50%,11.000000,9.400000,16.000000,9.900000,12.500000,9.600000,51.100000,11.800000,6.750000
75%,23.500000,25.300000,40.400000,36.400000,51.600000,38.300000,77.100000,33.400000,39.500000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [11]:
data.columns

Index(['RANK_2025', 'RANK_2024', 'Institution_Name', 'Location', 'Region',
       'SIZE', 'FOCUS', 'RES.', 'STATUS', 'Academic_Reputation_Score',
       'Academic_Reputation_Rank', 'Employer_Reputation_Score',
       'Employer_Reputation_Rank', 'Faculty_Student_Score',
       'Faculty_Student_Rank', 'Citations_per_Faculty_Score',
       'Citations_per_Faculty_Rank', 'International_Faculty_Score',
       'International_Faculty_Rank', 'International_Students_Score',
       'International_Students_Rank', 'International_Research_Network_Score',
       'International_Research_Network_Rank', 'Employment_Outcomes_Score',
       'Employment_Outcomes_Rank', 'Sustainability_Score',
       'Sustainability_Rank', 'Overall_Score'],
      dtype='object')

In [18]:
data['RANK_2024'].value_counts()

RANK_2024
1201-1400    206
1001-1200    199
1401+         78
951-1000      54
801-850       52
            ...
6              1
1              1
14             1
10             1
12             1
Name: count, Length: 378, dtype: int64

In [20]:
data['RANK_2025'].value_counts()

RANK_2025
1201-1400    199
1001-1200    197
1401+        102
951-1000      53
901-950       51
            ...
534            1
8              1
7              1
6              1
3              1
Name: count, Length: 388, dtype: int64

In [24]:
data['Location'].value_counts()

Location
United States             197
United Kingdom             90
China (Mainland)           71
Japan                      49
Germany                    48
                         ...
Sudan                       1
Syrian Arab Republic        1
Bosnia and Herzegovina      1
Guatemala                   1
Honduras                    1
Name: count, Length: 106, dtype: int64

In [23]:
data['Region'].value_counts()

Region
Asia              501
Europe            497
Americas          418
Oceania            46
Africa             40
Not Classified      1
Name: count, dtype: int64